/* 
saya mengerjakan tugas ini sendiri tanpa melakukan kecurangan seperti menggunakan, 
mendupliaksi kode perogram kode program yang ada. jika saya melakukan kecurangan 
dalam perngerjaan tugas ini maka saya siap menerima sanksi atau hukuman dari 
dosen mata kuliah dan tuhan / allah swt
*/

body {
    margin: 0;
    background-color: #5F88A8;
    font-family: Arial, sans-serif;
}

/* CONTAINER */
.container {
    width: 800px;
    margin: 20px auto;
    background-color: #D8D8D8;
    border-radius: 10px;
    overflow: hidden;
}

/* HEADER */
.header {
    background-color: #E2D800;
    padding: 20px;
    border-top: 10px dotted #9CBCD0;
    text-align: center; /* ini yang bikin ke tengah */
}

.header h1 {
    margin: 0;
    color: #032152;
}


/* CONTENT */
.content {
    padding: 30px 0;
    text-align: center;
}

.content h2 {
    color: #21678A;
    margin-bottom: 20px;
}

/* FORM BOX */
.form-box {
    width: 500px;
    margin: 0 auto;
    background-color: #C0E8FB;
    padding: 20px;
    border-radius: 10px;
}

/* FORM GROUP */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: #A6D4F0;
    padding: 10px;
    border-radius: 8px;
}

.form-group label {
    width: 150px;
    text-align: left;
    color: #21678A;
    font-weight: bold;
}

.form-group input {
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

/* REMEMBER */
.remember {
    text-align: right;
    margin-bottom: 15px;
    color: #21678A;
}

/* BUTTON */
.submit-area {
    text-align: right;
}

button {
    background-color: #21678A;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #174F6B;
}
